<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>iAlbum</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to iAlbum</h1>
    <p>The Web where you can watch my Album</p>
  </body>
</html>
