<h1>
    Cromos:
</h1>


    <% cromos.forEach(function(sticker) { %>
        
        <li><%= sticker.id %> - <%= sticker.title %></li>
            
    <% }); %>


<a href="/cromos/new" class="button">Create New Cromo</a>