<h1>
    Cromos:
</h1>

<table>
    <% cromos.forEach(function(sticker) { %>
        
        <li><%= sticker.id %> - <%= sticker.title %></li>
            
    <% }); %>
</table>

<a href="/cromos/new" class="button">Create New Cromo</a>